{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


 <!-- inner banner -->
 <section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Áreas de práctica</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Áreas de práctica
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- courses section -->
<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4"
            style="max-width:500px;">
            <p class="text-uppercase">NUESTROS SERVICIOS</p>
            <h3 class="title-style">Áreas de práctica</h3>
        </div>
        
        <div class="row justify-content-center">
            <div class='flex-container'>

                {% for c in areas %}  
                    {% if 4 >= forloop.counter %} 
                    <div class="bod-flip-box flex-column">
                            <div class="flip-inner">
                                <div class="flip-front">
                                        <img class='flip-front-image' style="position: absolute; opacity: 0.5;" src="{{ c.image.url }}" alt="">
                                        <div class='flip-front-content fbg-overlay'>
                                             <h4 style="font-size: 80%;">{{ c.area }}</h4>
                                             
                                         </div>
                                </div>
                                <div class="flip-back">
                                    <div class='flip-back-content'>
                                        <h4 style="font-size: 80%;">{{ c.area }}</h4>
                                        <p>{{ c.descripcion }}</p>
                                         <a href="{% url 'areas_details' c.id %}" class="flip-btn">Leer más</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                     {% endif %}
                {% endfor %}      
            </div>
            
    
          
            <div class='flex-container'>
    
                    {% for c in areas %}  
                        {% if forloop.counter > 4 %}
                            <div class="bod-flip-box flex-column">
                                <div class="flip-inner">
                                    <div class="flip-front">
                                    <img class='flip-front-image' style="position: absolute; opacity: 0.5;" src="{{ c.image.url }}" alt="">
                                    <div class='flip-front-content fbg-overlay'>
                                        
                                            
                                            <h4 style="font-size: 80%;">{{ c.area }}</h4>
                                
                                        
                                    </div>
                                    </div>
                                    <div class="flip-back">
                                    <div class='flip-back-content'>
                                        <h4 style="font-size: 80%;">{{ c.area }}</h4>
                                        <p>{{ c.descripcion }}</p>
                                        <a href="{% url 'areas_details' c.id %}" class="flip-btn">Leer más</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                         {% endif %}
                    {% endfor %}
            </div>

            
            

        
        </div>
    </div>
</div>
<!-- //courses section -->


{% endblock %}