{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<!-- inner banner -->

<section class="inner-banner py-5">

    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Citas</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Citas
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- contact block -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4"
            style="max-width:500px;">

           


            <p class="text-uppercase"></p>
            <h3 class="title-style">Encuentre el horario adecuado para usted</h3>
        </div>
        
    {% if messages %}
    <ul class="messages" style="color:red; text-align: center;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>    
    {% endif %}

    
    <div class="row contact-block">
            <div class="col-md-7 contact-right">
                <form action=""
                    method="POST" class="signin-form" id="UserContactForm">                  
                    {% csrf_token %}
                    <div class="input-grids">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name"
                                    id="name" placeholder="Nombre y Apellido"
                                    class="contact-input" required="" />
                                    {{ form.name }}
                            </div>
                            
                        </div>
                        <div class="row">
                       
                            <div class="col-sm-6">
                                <input type="email" name="email"
                                    id="email" placeholder="Email"
                                    class="contact-input" required=""/>
                                    {{ form.email }} 

        
                            </div>
                            
                            <div class="col-sm-6">
                               
                                    <input type="text" name="phone" id="phone"
                                    placeholder="Numero Celular" class="contact-input"
                                    required=""/> {{ form.phone }}
        
                            </div>

                        </div>
                        <div class="row">
                        <div class="col-sm-6">
                               
                            Fecha de la cita
                        <input type="date" name="fecha_cita" id="subject"
                            placeholder="Fecha Cita" class="contact-input"
                            required=""/> {{ form.fecha_cita }}

                        </div>
                        
                        <div class="col-sm-6">
                               
                            <input type="text" name="time" id="time"
                            placeholder="Hora de Cita" class="contact-input"
                            required=""/> {{ form.time }}

                        </div>

                           
                        
                        </div>    
                    </div>

                    <div class="form-input">
                        <textarea name="message" id="message"
                            placeholder="Ingrese su mensaje aquí"
                            required="" >{{ form.message }}</textarea>
                    </div>
                    

                    

                    

                    <div class="text-start">
                        
                            
                           <input type="checkbox" class="mycheck" id="mycheck" required=""> 
                            <label for="mycheck2"><a target="_blank" href="{% url 'politica-datos' %}">Acepta la política de tratamiento de datos</a> </label>
                       <br>
                    
                        <button class="btn btn-style btn-style-3" type="submit">Solicitar Cita</button>
                    </div>
                 
                </form>
            </div>

            <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
                <div class="contact-left">

                    {% for contact in contact %}
                    <div class="cont-details">
                        <div class="d-flex contact-grid">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Dirección</h6>
                                <p>{{ contact.address }}</p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Celular</h6>
                                <p><a href="{{ contact.call }}">{{ contact.call }}</a></p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-envelope-open-text"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Email</h6>
                                <p><a href="mailto:{{ contact.email}}"
                                        class="mail">{{ contact.email }}</a>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Soporte</h6>
                                <p><a href="mailto:{{ contact.support }}"
                                        class="mail">{{ contact.support }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}