{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


 <!-- inner banner -->
 <section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Nuestro Equipo</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Nuestro Equipo
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- courses section -->
<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4"
            style="max-width:500px;">
            <p class="text-uppercase">Presentamos</p>
            <h3 class="title-style">NUESTRO EQUIPO DE ABOGADOS</h3>
        </div>
        
        <div class="row justify-content-center">
            {% for b in equipo %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-card-single">
                    <div class="grids5-info">
                        <a href="{% url 'equipo_details' b.id %}"><img src="{{ b.imageURL }}"
                                alt="" /></a>
                        <div class="blog-info">
                            <h4><a href="{% url 'equipo_details' b.id %}">{{ b.persona }}</a>
                            </h4>
                            <p>{{ b.descripcion }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            

        
        </div>
    </div>
</div>
<!-- //courses section -->


{% endblock %}