{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


 <!-- inner banner -->
 !-- //inner banner -->

<!-- courses section -->


<div class="w3l-blog-block-5 py-5" id="blog">
    <div class="container py-md-5 py-4">

        <div class="title-main text-center mx-auto mb-md-5 mb-4"
            style="max-width:100%;">
            <br>
            
            <h3 class="title-style">Política de Tratamiento de Datos Personales de QUINTERO TORRES CORREA ABOGADOS S.A.S.</h3>
<p style="text-align: justify;">
    Con el fin de garantizar el tratamiento adecuado de los datos de las personas naturales, que ostentan la calidad de clientes, proveedores y empleados de QUINTERO TORRES CORREA ABOGADOS S.A.S, con ocasión del ejercicio de la actividad para la cual ha sido legalmente facultada, cumpla lo establecido en la Ley Estatutaria de Protección de Datos Personales Ley 1581 de 2012, el Decreto 1377 de 2013 y en la Circular No. 02 de 2015, 
    se adopta la presente POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES, la cual se regirá por las siguientes estipulaciones:
<br>
<br>
    ARTÍCULO 1. OBJETO DE LA POLÍTICA. El objeto de esta política es reglamentar la protección de los datos personales de los clientes, proveedores y empleados que QUINTERO TORRES CORREA ABOGADOS S.A.S,
     trate o llegue a tratar en virtud de las actividades que ejerce dentro de su objeto social, de tal manera que dichas personas tengan conocimiento de los mismos, y puedan ejercer los derechos a conocer, actualizar, rectificar, suprimir información y revocar la autorización.
 <br>
 <br>
     ARTÍCULO 2. DEFINICIONES. Las siguientes son las definiciones que se les dan a los términos utilizados dentro de la Ley, así:
<br>
     1.	Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.
     <br>
     2.	Aviso de privacidad: Comunicación verbal o escrita: física o en medio electrónico generada por el Responsable, dirigida al Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos personales.
     <br>
     3.	Base de Datos: Conjunto organizado de datos personales que sea objeto de Tratamiento.
     <br>
     4.	Causahabiente: persona que ha sucedido a otra por causa del fallecimiento de ésta (heredero).
     <br>
     5.	Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.
     <br>
     6.	Dato público: Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.
     <br>
     7.	Datos Sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido pueda generar discriminación, tales como pero sin limitarse a: origen racial, orientación política, convicciones religiosas o filosóficas, pertenencia a sindicatos, organizaciones sociales, de derechos humanos, datos relacionados con la salud, la vida sexual y datos biométricos.
     <br>
     8.	Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
     <br>
     9.	Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.
     <br>
     10.Titular: Persona natural cuyos datos personales sean objeto de Tratamiento.
     <br>
     11. Transferencia: La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.
     <br>
     12. Transmisión: Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el Encargado por cuenta del Responsable.
     <br>
     13. Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
     <br>
     <br>
     ARTICULO 3. PRINCIPIOS APLICABLES AL TRATAMIENTO DE DATOS PERSONALES: 
Los principios que regirán el manejo el tratamiento de las bases de datos de QUINTERO TORRES CORREA ABOGADOS S.A.S, serán los siguientes:
    <br>
    1. PRINCIPIO DE LIBERTAD: El Tratamiento sólo puede llevarse a cabo con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento.
    <br>
    2. PRINCIPIO DE FINALIDAD: El Tratamiento de los datos personales recogidos debe obedecer a una finalidad legítima, la cual debe ser informada al Titular.
    <br>
    3. PRINCIPIO DE TRANSPARENCIA: En el Tratamiento debe garantizarse el derecho del Titular a obtener de QUINTERO TORRES CORREA ABOGADOS S.A.S, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan.
    <br>
    4. PRINCIPIO DE TEMPORALIDAD: QUINTERO TORRES CORREA ABOGADOS S.A.S no usará la información del titular más allá del plazo razonable que exija la finalidad que fue informada al Titular de los Datos Personales.
    <br>
    5. PRINCIPIO DE ACCESO Y CIRCULACIÓN RESTRINGIDA: El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la presente ley y la Constitución. Los datos personales, salvo la información pública, y lo dispuesto en la autorización otorgada por el titular del dato, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados.
    <br>
    6. PRINCIPIO DE CONFIDENCIALIDAD: Todas las personas que intervengan en el Tratamiento de datos personales están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento.
    <br>
    <br>
    ARTÍCULO4. TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS PERSONALES Y FINALIDAD. Los datos personales serán tratados, es decir, recolectados, almacenados, usados, circulados, suprimidos, compartidos, actualizados, transmitidos y/o transferidos con la siguiente finalidad:
    <br>
    1. En relación con los clientes, proveedores y terceros en general, la información personal será utilizada con los siguientes fines.
    <br>
    2. Generar y mantener una eficiente y adecuada comunicación de la información que sea de utilidad en los vínculos contractuales en los que sea parte el titular de la Información.
    <br>
    3. Gestionar toda la información necesaria para el cumplimiento de las obligaciones tributarias y de registros comerciales, corporativos y contables de QUINTERO TORRES CORREA ABOGADOS S.A.S.
    <br>
    4. Cumplir con los procesos internos de QUINTERO TORRES CORREA ABOGADOS S.A.S, en materia de administración de proveedores y contratistas.
    <br>
    5. Desarrollar el proceso de selección, evaluación, y vinculación laboral;
    <br>
    6. Soportar procesos de auditoría interna o externa;
    <br>
    7. Dar cumplimiento de las obligaciones contractuales contraídas por QUINTERO TORRES CORREA ABOGADOS S.A.S, con los titulares de la Información.
    <br>
    8. Para los Procesos de archivo y actualización de bases de datos internas de QUINTERO TORRES CORREA ABOGADOS S.A.S.
    <br>
    9. Informar las modificaciones internas de cualquier tipo que se presenten en desarrollo de los vínculos contractuales con el titular de la Información.
    <br>
    10.	Evaluar y examinar la calidad de los servicios ofrecidos por el titular de la Información.
    <br>
    11.	Realizar estudios internos sobre los hábitos del titular de la Información.
    <br>
    12.	Enviar a través de medio seguro de la información en Colombia y a otros países en donde por temas de contingencias se tengan “back-ups” o respaldos de la información.
    <br>
    13.	Transmitir ofertas de productos, servicios e información general que puedan ser útiles o adecuados, relacionados con QUINTERO TORRES CORREA ABOGADOS S.A.S.
    <br>
    14.	Transmitir los datos que el gobierno nacional y/o las autoridades requieran, en cumplimiento de la legislación tributaria, contable y fiscal, en general, la finalidad que la ley establezca.
    <br>
    15.	Enviar las modificaciones que se puedan presentar en las Políticas de Tratamiento de la Información adoptadas por QUINTERO TORRES CORREA ABOGADOS S.A.S.
    <br>
    16.	Demás usos administrativos, comerciales, de publicidad y de acuerdo a lo acordado entre el titular de la información y QUINTERO TORRES CORREA ABOGADOS S.A.S.
    <br>
    17.	En lo que tiene que ver con el uso y tratamiento dado a los datos personales de empleados y ex empleados, éstos, además de los usos antes señalados, se circunscriben al ámbito meramente laboral y eventualmente serán compartidos con otras sociedades o entidades cuando esto sea necesario para cumplir con las disposiciones legales en el régimen laboral y de protección de datos personales.
    <br>
    <br>
    ARTÍCULO 5. DERECHOS DE LOS TITULARES. Son derechos de los titulares:
    <br>
    1. Conocer, actualizar y rectificar sus datos personales frente a QUINTERO TORRES CORREA ABOGADOS S.A.S Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado por el titular.
    <br>
    2. Solicitar prueba de la autorización otorgada a QUINTERO TORRES CORREA ABOGADOS S.A.S, para la recolección y uso de los datos personales salvo cuando dicha autorización no sea necesaria en los términos del artículo 10 de la Ley Estatutaria 1581 de 2012.
    <br>
    3. Ser informado por QUINTERO TORRES CORREA ABOGADOS S.A.S, previa solicitud, respecto del uso que se le ha dado a sus datos personales.
    <br>
    4. Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley Estatutaria 1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen.
    <br>
    5. Revocar la autorización y/o solicitar la supresión del dato personal cuando en su recolección y/o uso no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en dicha recolección y/o uso la Compañía ha incurrido en conductas contrarias a Ley Estatutaria 1581 de 2012 y a la Constitución.
    <br>
    6. Acceder en forma gratuita a sus datos personales que hayan sido objeto de recolección y/o uso, previa solicitud, al menos una vez cada mes calendario, y cada vez que existan modificaciones sustanciales de las Políticas de Tratamiento de la información que motiven nuevas consultas.
    <br>
    <br>
    Para consultas cuya periodicidad sea mayor a una por cada mes calendario, QUINTERO TORRES CORREA ABOGADOS S.A.S, solo podrá cobrar al titular los gastos de envío, reproducción y, en su caso, certificación de documentos. Los costos de reproducción no podrán ser mayores a los costos de recuperación del material correspondiente. Para tal efecto, QUINTERO TORRES CORREA ABOGADOS S.A.S deberá demostrar a la Superintendencia de Industria y Comercio, cuando esta así lo requiera, el soporte de dichos gastos.
    

    <br>
    <br>
    ARTÍCULO 6. PROCEDIMIENTO PARA QUE LOS TITULARES DE LA INFORMACIÓN PUEDAN EJERCER LOS DERECHOS A CONOCER, ACTUALIZAR, RECTIFICAR Y SUPRIMIR INFORMACIÓN Y REVOCAR LA AUTORIZACIÓN.
    <br>
    Verificada la identidad del titular, QUINTERO TORRES CORREA ABOGADOS S.A.S, le suministrará toda la información sobre sus datos personales que sea requerida por este.
    La respuesta a la consulta deberá comunicarse al solicitante en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de la misma. En el evento en que no sea posible atender la consulta dentro de dicho término, se informará al interesado, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término. La respuesta y cualquier comunicación que realice QUINTERO TORRES CORREA ABOGADOS S.A.S podrá hacerse por medios electrónicos.   
    <br>
    <br>
    ARTÍCULO 7. RECLAMOS DEL TITULAR DE LA INFORMACIÓN. El Titular o sus causahabientes que consideren que la información contenida en la base de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en esta ley, podrán presentar un reclamo, el cual será tramitado bajo las siguientes reglas:
    <br>
    1. El reclamo se formulará mediante solicitud dirigida al Responsable del Tratamiento o al Encargado del Tratamiento, con la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, correo electrónico y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.
    <br>
    En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informará de la situación al interesado.
    <br>
    2. Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga "reclamo en trámite" y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
    <br>
    3. El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
    <br>
    ARTÍCULO 8. ÁREA RESPONSABLE DE LA PROTECCIÓN DE DATOS PERSONALES. El área responsable de la atención de peticiones, consultas y reclamos ante la cual el titular de la información puede ejercer sus derechos a conocer, actualizar, rectificar y suprimir el dato y revocar la autorización será la Dirección Administrativa de QUINTERO TORRES CORREA ABOGADOS S.A.S, la cual pude ser contactada en la carrera de la ciudad de Ibagué, Tolima, en el Celular 3165249761 o en el correo electrónico abogadosqtc@gmail.com.
    <br>
    <br>
    ARTÍCULO 9. FECHA DE ENTRADA EN VIGENCIA DE LA PRESENTE POLÍTICA Y PERÍODO DE VIGENCIA DE LA BASE DE DATOS. Esta Política entra a regir a partir del 10 de agosto de 2023 y las bases de datos estarán vigentes por el tiempo razonable y necesario para cumplir con las finalidades del tratamiento de la información.
    <br>

</p>
        </div>

    </div>
</div>
<!-- //courses section -->


{% endblock %}